* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
.principal {
  display: flex;
  flex-direction: column;
}
.head {
  margin-bottom: 10px;
}
.tabletitle1 {
  background: #103ad4;
  color: #fff;
}
.tabletitle2 {
  background: green;
  color: #fff;
}
.mediumtitle {
  background: #ebeaea;
}
/* #103cd4 Solo a ti te queda bien
  #85c1e9 nadie te ve como te puedo ver*/
body {
  background-image: url(../img/wall/Untitled.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0px;
  background-color: #c0cbe2;
}
.head {
  display: flex;
  gap: 10px;
  align-items: end;
  padding: 10px 0px 0px 10px;
}
.head h1 {
  color: #fff;
  padding: 1rem;
  background-color: #103ad4;

  font-size: 2.3rem;
  margin: 0px;
}
.logo {
  height: 100px;
}
.stage {
  width: 100%;
  display: flex;

  height: 100%;
  padding-left: 1rem;
}
.screen {
  height: 100%;

  display: grid;
  place-content: center;
}

#simu {
  box-sizing: content-box;
  background-color: #f2f2f2;
  width: 770px;
  height: 400px;
  border: solid black 1px;
}
.cont-controller {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7px;
}
.controller {
  padding: 1rem;
  width: 360px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  border-radius: 13px;
}
.cont-repro {
  margin: 0px auto;
  width: min-content;
  padding: 10px 15px;
  background: #ffffffc3;
}
.reproduccion {
  text-align: center;
  display: block;
  font-size: 2.3rem;
  cursor: pointer;
}
.cont-repro {
  cursor: pointer;
}
.tablaValores {
  background: #fff;
  margin-top: 10px;
  width: 900px;
  margin-left: 10px;
}
.tablaValores,
td,
tr {
  border-collapse: collapse;
  border: 1px solid #000;
}

.tablaValores td {
  text-align: center;
}

.inputVal {
  text-align: center;
  appearance: none;
  border: none;

  width: 70px;
}
.data {
  position: absolute;

  left: 18px;
  top: 475px;
  padding: 4px;
}
.disablebb {
  opacity: 0;
}
.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.562);
  display: grid;
  place-content: center;

  transform: translate(5000px, 0px);
  transition: transform 600ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
}
.container-canvas {
  width: 1000px;
  height: 500px;
  background: #fff;
  padding: 2rem;
  position: relative;
}
.closebottom {
  background: red;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: grid;
  place-content: center;
  transform: translate(50%, -50%);
  cursor: pointer;
  user-select: none;
}
.vermodalboton {
  background-color: #103dc4;
  color: white;
  border: none;
  border-radius: 1px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 2px;
  cursor: pointer;
  user-select: none;
}

.vermodalboton:hover {
  background-color: #3454b4;
}

.disabled {
  background-color: #7d7d7d;
  cursor: not-allowed;
  opacity: 0.6;
}

.disabled:hover {
  background-color: #7d7d7d;
}
.activemodal {
  transform: translate(0px, 0px);
}
